#header h1 {
    position: relative;
	margin-top: 20px;
    behavior: expression((this.runtimeStyle.behavior="none")&&(this.pngSet?this.pngSet=true:(this.nodeName == "IMG" && this.src.toLowerCase().indexOf('.png')>-1?(this.runtimeStyle.backgroundImage = "none",
        this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.src + "', sizingMethod='image')",
        this.src = "transparent.gif"):(this.origBg = this.origBg? this.origBg :this.currentStyle.backgroundImage.toString().replace('url("','').replace('")',''),
        this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.origBg + "', sizingMethod='crop')",
        this.runtimeStyle.backgroundImage = "none")),this.pngSet=true)
    );
}


#results #results-answer {
	background-image: none;
	
	font-size: 60pt;
	
	color: #eee;
	line-height: 233px;
	text-align: center;
}

#results.yes #results-answer {
	background-image: none;

	color: #a3d391;
}

#results.no #results-answer {
	background-image: none;

	color: #ea5959;
}